USE [master]
GO
/****** Object:  Database [Bookstore]    Script Date: 11/09/1404 11:43:03 ب.ظ ******/
CREATE DATABASE [Bookstore]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Bookstore', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Bookstore.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Bookstore_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Bookstore_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Bookstore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Bookstore]
GO
/****** Object:  UserDefinedTableType [dbo].[BookStockDecreaseList]    Script Date: 11/09/1404 11:43:03 ب.ظ ******/
CREATE TYPE [dbo].[BookStockDecreaseList] AS TABLE(
	[BookId] [int] NULL,
	[Count] [int] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[ImageInfoType]    Script Date: 11/09/1404 11:43:03 ب.ظ ******/
CREATE TYPE [dbo].[ImageInfoType] AS TABLE(
	[Width] [int] NULL,
	[Height] [int] NULL,
	[IsPrimary] [bit] NOT NULL,
	[StoredFileName] [nvarchar](255) NOT NULL,
	[RelativePath] [nvarchar](255) NOT NULL,
	[FileSize] [bigint] NULL,
	[MimeType] [nvarchar](100) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[IntList]    Script Date: 11/09/1404 11:43:03 ب.ظ ******/
CREATE TYPE [dbo].[IntList] AS TABLE(
	[Id] [int] NULL
)
GO
/****** Object:  Table [dbo].[Addresses]    Script Date: 11/09/1404 11:43:03 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Addresses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[LastName] [nvarchar](max) NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[PostCode] [nvarchar](50) NOT NULL,
	[State] [nvarchar](max) NOT NULL,
	[City] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[UserId] [int] NOT NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_Addresses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Authors]    Script Date: 11/09/1404 11:43:03 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Authors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[DeletedAt] [datetime] NULL,
 CONSTRAINT [PK_Writers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookCategories]    Script Date: 11/09/1404 11:43:03 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookCategories](
	[BookID] [int] NOT NULL,
	[CategoryID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BookID] ASC,
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 11/09/1404 11:43:03 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[EnglishName] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Price] [bigint] NOT NULL,
	[PrintSeries] [smallint] NULL,
	[ISBN] [nvarchar](100) NOT NULL,
	[CoverType] [nvarchar](max) NULL,
	[Format] [nvarchar](max) NULL,
	[Pages] [nvarchar](max) NOT NULL,
	[PublishYear] [nvarchar](max) NOT NULL,
	[Publisher] [nvarchar](max) NOT NULL,
	[AuthorId] [int] NOT NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[DeletedAt] [datetime] NULL,
	[IsRecommended] [bit] NOT NULL,
	[Stock] [int] NOT NULL,
 CONSTRAINT [PK_Books] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [ISBN_Books] UNIQUE NONCLUSTERED 
(
	[ISBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookTags]    Script Date: 11/09/1404 11:43:03 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookTags](
	[BookId] [int] NOT NULL,
	[TagId] [int] NOT NULL,
 CONSTRAINT [PK_BookTags] PRIMARY KEY CLUSTERED 
(
	[BookId] ASC,
	[TagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookTranslators]    Script Date: 11/09/1404 11:43:03 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookTranslators](
	[BookID] [int] NOT NULL,
	[TranslatorID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BookID] ASC,
	[TranslatorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 11/09/1404 11:43:03 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Url] [nvarchar](255) NOT NULL,
	[MainCategoryId] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[DeletedAt] [datetime] NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [Url_Categories] UNIQUE NONCLUSTERED 
(
	[Url] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 11/09/1404 11:43:03 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Comment] [nvarchar](max) NOT NULL,
	[Status] [bit] NOT NULL,
	[ForeignTable] [nvarchar](255) NOT NULL,
	[ForeignId] [int] NOT NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_Comments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Images]    Script Date: 11/09/1404 11:43:03 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Images](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Width] [nvarchar](max) NULL,
	[Height] [nvarchar](max) NULL,
	[IsPrimary] [bit] NOT NULL,
	[StoredFileName] [nvarchar](255) NOT NULL,
	[RelativePath] [nvarchar](20) NOT NULL,
	[FileSize] [nvarchar](max) NULL,
	[MimeType] [varchar](50) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[ForeignId] [int] NOT NULL,
	[ForeignTable] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Images] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvoiceBooks]    Script Date: 11/09/1404 11:43:03 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceBooks](
	[InvoiceId] [int] NOT NULL,
	[BookId] [int] NOT NULL,
	[Count] [int] NOT NULL,
	[Price] [bigint] NOT NULL,
 CONSTRAINT [PK_InvoiceBooks] PRIMARY KEY CLUSTERED 
(
	[InvoiceId] ASC,
	[BookId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoices]    Script Date: 11/09/1404 11:43:03 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoices](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TotalPrice] [bigint] NOT NULL,
	[Maliat] [bigint] NOT NULL,
	[FinalTotalPrice] [bigint] NOT NULL,
	[InvoiceStatus] [smallint] NOT NULL,
	[PaymentStatus] [smallint] NOT NULL,
	[UserId] [int] NOT NULL,
	[AddressId] [int] NOT NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[ValidatedAt] [datetime] NULL,
 CONSTRAINT [PK_Invoices] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 11/09/1404 11:43:03 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceId] [int] NOT NULL,
	[GatewayId] [nvarchar](255) NOT NULL,
	[Price] [bigint] NOT NULL,
	[PaymentGateway] [nvarchar](max) NOT NULL,
	[ResponseCode] [nvarchar](max) NOT NULL,
	[Message] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[TransactionCode] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_Payments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tags]    Script Date: 11/09/1404 11:43:03 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tags](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Url] [nvarchar](255) NOT NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[DeletedAt] [datetime] NULL,
 CONSTRAINT [PK_Tags] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [Url_Tags] UNIQUE NONCLUSTERED 
(
	[Url] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Translators]    Script Date: 11/09/1404 11:43:03 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Translators](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[DeletedAt] [datetime] NULL,
 CONSTRAINT [PK_Translators] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/09/1404 11:43:03 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[Mobile] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Role] [int] NOT NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[LoggedInAt] [datetime] NULL,
	[DeletedAt] [datetime] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [Mobile_Users] UNIQUE NONCLUSTERED 
(
	[Mobile] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WishList]    Script Date: 11/09/1404 11:43:03 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WishList](
	[UserId] [int] NOT NULL,
	[BookId] [int] NOT NULL,
 CONSTRAINT [PK_WishList] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[BookId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Comments] ADD  CONSTRAINT [DF_Comments_Status]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[Addresses]  WITH CHECK ADD  CONSTRAINT [FK_Addresses_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Addresses] CHECK CONSTRAINT [FK_Addresses_Users]
GO
ALTER TABLE [dbo].[BookCategories]  WITH CHECK ADD  CONSTRAINT [FK__BookCateg__BookI__5070F446] FOREIGN KEY([BookID])
REFERENCES [dbo].[Books] ([Id])
GO
ALTER TABLE [dbo].[BookCategories] CHECK CONSTRAINT [FK__BookCateg__BookI__5070F446]
GO
ALTER TABLE [dbo].[BookCategories]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[BookTags]  WITH CHECK ADD  CONSTRAINT [FK_BookTags_Books] FOREIGN KEY([BookId])
REFERENCES [dbo].[Books] ([Id])
GO
ALTER TABLE [dbo].[BookTags] CHECK CONSTRAINT [FK_BookTags_Books]
GO
ALTER TABLE [dbo].[BookTags]  WITH CHECK ADD  CONSTRAINT [FK_BookTags_Tags] FOREIGN KEY([TagId])
REFERENCES [dbo].[Tags] ([Id])
GO
ALTER TABLE [dbo].[BookTags] CHECK CONSTRAINT [FK_BookTags_Tags]
GO
ALTER TABLE [dbo].[BookTranslators]  WITH CHECK ADD  CONSTRAINT [FK__BookTrans__BookI__4CA06362] FOREIGN KEY([BookID])
REFERENCES [dbo].[Books] ([Id])
GO
ALTER TABLE [dbo].[BookTranslators] CHECK CONSTRAINT [FK__BookTrans__BookI__4CA06362]
GO
ALTER TABLE [dbo].[BookTranslators]  WITH CHECK ADD FOREIGN KEY([TranslatorID])
REFERENCES [dbo].[Translators] ([Id])
GO
ALTER TABLE [dbo].[Categories]  WITH CHECK ADD  CONSTRAINT [FK_Categories_Categories] FOREIGN KEY([MainCategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Categories] CHECK CONSTRAINT [FK_Categories_Categories]
GO
ALTER TABLE [dbo].[InvoiceBooks]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceBooks_Books] FOREIGN KEY([BookId])
REFERENCES [dbo].[Books] ([Id])
GO
ALTER TABLE [dbo].[InvoiceBooks] CHECK CONSTRAINT [FK_InvoiceBooks_Books]
GO
ALTER TABLE [dbo].[InvoiceBooks]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceBooks_Invoices] FOREIGN KEY([InvoiceId])
REFERENCES [dbo].[Invoices] ([Id])
GO
ALTER TABLE [dbo].[InvoiceBooks] CHECK CONSTRAINT [FK_InvoiceBooks_Invoices]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_Invoices_Addresses] FOREIGN KEY([AddressId])
REFERENCES [dbo].[Addresses] ([Id])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoices_Addresses]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_Invoices_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoices_Users]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Invoices] FOREIGN KEY([InvoiceId])
REFERENCES [dbo].[Invoices] ([Id])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Invoices]
GO
ALTER TABLE [dbo].[WishList]  WITH CHECK ADD  CONSTRAINT [FK_WishList_Books] FOREIGN KEY([BookId])
REFERENCES [dbo].[Books] ([Id])
GO
ALTER TABLE [dbo].[WishList] CHECK CONSTRAINT [FK_WishList_Books]
GO
ALTER TABLE [dbo].[WishList]  WITH CHECK ADD  CONSTRAINT [FK_WishList_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[WishList] CHECK CONSTRAINT [FK_WishList_Users]
GO
/****** Object:  StoredProcedure [dbo].[Address_Get_All]    Script Date: 11/09/1404 11:43:03 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Address_Get_All]
    @userId INT,
    @PageNumber INT,
    @PageSize INT
AS
BEGIN
    SET NOCOUNT ON;

	-- Get total count first
	Declare @TotalCount int;
	SELECT @TotalCount = COUNT(*)
	FROM Addresses WHERE UserId = @userId;

    -- Example pagination query
    SELECT 
	    Id,
		Name,
		LastName,
		Phone,
		PostCode,
		State,
		City,
		Address,
		UserId,
		CreatedAt,
		UpdatedAt
    FROM Addresses
    WHERE UserId = @userId
    ORDER BY Id DESC
    OFFSET (@PageNumber - 1) * @PageSize ROWS
    FETCH NEXT @PageSize ROWS ONLY;

    -- Return metadata (can be second result set)
	SELECT 
	    @TotalCount AS TotalCount,
        @PageSize AS PageSize,
        @PageNumber AS PageNumber,
        CEILING(CAST(@TotalCount AS FLOAT) / @PageSize) AS TotalPages;
END
GO
/****** Object:  StoredProcedure [dbo].[Address_Get_One]    Script Date: 11/09/1404 11:43:03 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[Address_Get_One]
    @id INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        Id,
        Name,
        LastName,
        Phone,
        PostCode,
        State,
        City,
        Address,
        UserId,
        CreatedAt,
        UpdatedAt
    FROM Addresses
    WHERE Id = @id;
END
GO
/****** Object:  StoredProcedure [dbo].[Author_Get_All]    Script Date: 11/09/1404 11:43:03 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Author_Get_All]
	@PageNumber INT,
    @PageSize INT,
	@Search nvarchar(255) = ''
AS
BEGIN
	SET NOCOUNT ON;

     -- Get total count first
	Declare @TotalCount int;
	SELECT @TotalCount = COUNT(*)
	FROM Authors WHERE DeletedAt IS NULL;

	-- Actual paginated data
	SELECT Id,Name,Description,CreatedAt,UpdatedAt
	FROM Authors
	WHERE DeletedAt IS NULL AND Authors.Name LIKE '%' + ISNULL(@Search, '') + '%'
	ORDER BY Id DESC
	OFFSET (@PageNumber - 1) * @PageSize ROWS
	FETCH NEXT @PageSize ROWS ONLY;

	-- Return metadata (can be second result set)
	SELECT 
	    @TotalCount AS TotalCount,
        @PageSize AS PageSize,
        @PageNumber AS PageNumber,
        CEILING(CAST(@TotalCount AS FLOAT) / @PageSize) AS TotalPages;
END
GO
/****** Object:  StoredProcedure [dbo].[Author_Get_One]    Script Date: 11/09/1404 11:43:03 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Author_Get_One]
   @id int
AS
BEGIN
	SET NOCOUNT ON;
		SELECT Id,Name,Description,CreatedAt,UpdatedAt
	FROM Authors 
	WHERE id = @id and DeletedAt is null
END
GO
/****** Object:  StoredProcedure [dbo].[Book_Get_All_JSON]    Script Date: 11/09/1404 11:43:03 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Book_Get_All_JSON]
    @PageNumber INT,
    @PageSize INT,
	@Search nvarchar(255) = ''
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	   -- Get total count first
	Declare @TotalCount int;
	SELECT @TotalCount = COUNT(*)
	FROM Books WHERE DeletedAt IS NULL;

	 -- Your actual SELECT query
    DECLARE @Json NVARCHAR(MAX);

    SELECT @Json =
    (
        SELECT
            b.Id,
            b.Name,
            b.EnglishName,
            b.Description,
            b.Price,
            b.PrintSeries,
            b.ISBN,
            b.CoverType,
            b.Format,
            b.Pages,
            b.PublishYear,
            b.Publisher,
            b.AuthorId,
			b.IsRecommended,
			b.Stock,
            b.CreatedAt,
            b.UpdatedAt,

            Author = JSON_QUERY((
                SELECT a.Id, a.Name,a.Description, a.CreatedAt, a.UpdatedAt
                FROM Authors a
                WHERE a.Id = b.AuthorId
                FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
            )),

            Translators = (
                SELECT t.Id, t.Name, t.Description, t.CreatedAt, t.UpdatedAt
                FROM Translators t
                INNER JOIN BookTranslators bt ON bt.TranslatorId = t.Id
                WHERE bt.BookId = b.Id
                FOR JSON PATH
            ),

            Categories = (
                SELECT c.Id, c.Name, c.Url, c.MainCategoryId, c.CreatedAt, c.UpdatedAt
                FROM Categories c
                INNER JOIN BookCategories bc ON bc.CategoryId = c.Id
                WHERE bc.BookId = b.Id
                FOR JSON PATH
            ),
			 Tags = (
                SELECT t.Id, t.Name, t.Url, t.CreatedAt, t.UpdatedAt
                FROM Tags t
                INNER JOIN BookTags bt ON bt.TagId = t.Id
                WHERE bt.BookId = b.Id
                FOR JSON PATH
            ),
            Images = (
                SELECT i.Id,i.Width, i.Height, i.IsPrimary, i.StoredFileName, i.RelativePath, i.FileSize, i.MimeType,
				i.CreatedAt,i.UpdatedAt
                FROM Images i
                WHERE i.ForeignId = b.Id AND i.ForeignTable = 'Books'
                FOR JSON PATH
            )

        FROM Books b
		WHERE DeletedAt IS NULL AND
		(b.Name LIKE '%' + ISNULL(@Search, '') + '%' OR
		b.EnglishName LIKE '%' + ISNULL(@Search, '') + '%' OR
		b.CoverType LIKE '%' + ISNULL(@Search, '') + '%' OR
		b.Format LIKE '%' + ISNULL(@Search, '') + '%' OR
		b.ISBN LIKE '%' + ISNULL(@Search, '') + '%' OR
		b.Publisher LIKE '%' + ISNULL(@Search, '') + '%')
        ORDER BY b.Id DESC
        OFFSET (@PageNumber - 1) * @PageSize ROWS
        FETCH NEXT @PageSize ROWS ONLY
        FOR JSON PATH
    );

    -- Output JSON
    SELECT @Json AS JsonResult;

	-- Return metadata (can be second result set)
	SELECT 
	    @TotalCount AS TotalCount,
        @PageSize AS PageSize,
        @PageNumber AS PageNumber,
        CAST(CEILING(CAST(@TotalCount AS FLOAT) / @PageSize) AS INT) AS TotalPages
	FOR JSON PATH, WITHOUT_ARRAY_WRAPPER;
END
GO
/****** Object:  StoredProcedure [dbo].[Book_Get_By_ISBN]    Script Date: 11/09/1404 11:43:03 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Book_Get_By_ISBN]
	@ISBN nvarchar(100)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT 
	Id,
	Name,
	EnglishName,
	Description,
	Price,
	PrintSeries,
	ISBN,
	CoverType,
	[Format],
	Pages,
	PublishYear,
	Publisher,
	AuthorId,
	IsRecommended,
	Stock,
	CreatedAt,
	UpdatedAt
	FROM Books
	WHERE ISBN = @ISBN
END
GO
/****** Object:  StoredProcedure [dbo].[Book_Get_New_JSON]    Script Date: 11/09/1404 11:43:03 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Book_Get_New_JSON]
	@PageSize INT,
	@PageNumber INT,
	@IsRecommended BIT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	  -- Get total count first
	Declare @TotalCount int;
	SELECT @TotalCount = COUNT(*)
	FROM Books WHERE DeletedAt IS NULL AND (@IsRecommended = 0 OR Books.IsRecommended = 1);
     -- Your actual SELECT query
    DECLARE @Json NVARCHAR(MAX);

    SELECT @Json =
    (
        SELECT
            b.Id,
            b.Name,
            b.EnglishName,
            b.Description,
            b.Price,
            b.PrintSeries,
            b.ISBN,
            b.CoverType,
            b.Format,
            b.Pages,
            b.PublishYear,
            b.Publisher,
            b.AuthorId,
			b.IsRecommended,
			b.Stock,

            Author = JSON_QUERY((
                SELECT a.Id, a.Name,a.Description, a.CreatedAt, a.UpdatedAt
                FROM Authors a
                WHERE a.Id = b.AuthorId
                FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
            )),
            Images = (
                SELECT i.Id,i.Width, i.Height, i.IsPrimary, i.StoredFileName, i.RelativePath, i.FileSize, i.MimeType,
				i.CreatedAt,i.UpdatedAt
                FROM Images i
                WHERE i.ForeignId = b.Id AND i.ForeignTable = 'Books'
                FOR JSON PATH
            )

        FROM Books b
		WHERE (@IsRecommended = 0 OR b.IsRecommended = 1) AND  DeletedAt IS NULL
        ORDER BY b.Id DESC
        OFFSET (@PageNumber - 1) * @PageSize ROWS
        FETCH NEXT @PageSize ROWS ONLY
        FOR JSON PATH
    );

	 -- Output JSON
    SELECT @Json AS JsonResult;

	-- Return metadata (can be second result set)
	SELECT 
	    @TotalCount AS TotalCount,
        @PageSize AS PageSize,
        @PageNumber AS PageNumber,
        CAST(CEILING(CAST(@TotalCount AS FLOAT) / @PageSize) AS INT) AS TotalPages
	FOR JSON PATH, WITHOUT_ARRAY_WRAPPER;
END
GO
/****** Object:  StoredProcedure [dbo].[Book_Get_One]    Script Date: 11/09/1404 11:43:03 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[Book_Get_One]
   @id int
AS
BEGIN
	SET NOCOUNT ON;

	-- The book information
	SELECT
	    Id,
		Name,
        EnglishName,
        Description,
        Price,
        PrintSeries,
        ISBN,
        CoverType,
        Format,
        Pages,
        PublishYear,
        Publisher,
        AuthorId,
		IsRecommended,
		Stock,
		CreatedAt,
		UpdatedAt
    FROM Books
    WHERE Id = @id AND DeletedAt IS NULL;

	-- The author information
	SELECT a.Id,a.Name,a.Description,a.CreatedAt,a.UpdatedAt
	FROM Authors a,Books b
	WHERE  b.Id = @id and a.Id = b.AuthorId

	-- The Translators information
	SELECT t.Id,t.Name,t.Description,t.CreatedAt,t.UpdatedAt
	FROM Translators t
	INNER JOIN BookTranslators bt on t.Id = bt.TranslatorID
	WHERE bt.BookID = @id

	-- The Categories information
	SELECT c.Id,c.Name,c.Url,c.MainCategoryId,c.CreatedAt,c.UpdatedAt
	FROM Categories c
	INNER JOIN BookCategories bc on c.Id = bc.CategoryID
	WHERE bc.BookID = @id

	-- The Tags information
	SELECT t.Id,t.Name,t.Url,t.CreatedAt,t.UpdatedAt
	FROM Tags t
	INNER JOIN BookTags bt on t.Id = bt.TagId
	WHERE bt.BookID = @id

	-- The images information
	SELECT 
		i.Id,
		i.Height,
		i.Width,
		i.IsPrimary,
		i.StoredFileName,
		i.RelativePath,
		i.FileSize,
		i.MimeType,
		i.CreatedAt,
		i.UpdatedAt
	FROM Images i
	WHERE  ForeignTable = 'Books' and ForeignId = @id

END
GO
/****** Object:  StoredProcedure [dbo].[Book_Insert]    Script Date: 11/09/1404 11:43:03 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Book_Insert]
	@Name NVARCHAR(255),
    @EnglishName NVARCHAR(255) = NULL,
    @Description NVARCHAR(MAX) = NULL,
    @Price DECIMAL(18, 2),
    @PrintSeries NVARCHAR(255) = NULL,
    @ISBN NVARCHAR(50) = NULL,
    @CoverType NVARCHAR(100) = NULL,
    @Format NVARCHAR(100) = NULL,
    @Pages INT = NULL,
    @PublishYear INT = NULL,
    @Publisher NVARCHAR(255) = NULL,
    @AuthorId INT,
	@IsRecommended BIT,
	 -- Image info parameters
    @Images ImageInfoType READONLY,
	 -- Translator ids
	@TranslatorIds IntList READONLY,
	-- Category ids
	@CategoryIds IntList READONLY,
	-- Tag ids
	@TagIds IntList READONLY
AS
BEGIN

	SET NOCOUNT ON;
	BEGIN TRY
        BEGIN TRANSACTION;
     -- Insert Book
    INSERT INTO Books (
        Name,
        EnglishName,
        Description,
        Price,
        PrintSeries,
        ISBN,
        CoverType,
        Format,
        Pages,
        PublishYear,
        Publisher,
        AuthorId,
		IsRecommended
    )
    VALUES (
        @Name,
        @EnglishName,
        @Description,
        @Price,
        @PrintSeries,
        @ISBN,
        @CoverType,
        @Format,
        @Pages,
        @PublishYear,
        @Publisher,
        @AuthorId,
		@IsRecommended
    );

	 DECLARE @BookId INT = SCOPE_IDENTITY();

	 -- Insert multiple images
        INSERT INTO Images (Width, Height, IsPrimary, StoredFileName, RelativePath,
                            FileSize, MimeType, ForeignId, ForeignTable)
        SELECT Width, Height, IsPrimary, StoredFileName, RelativePath,
               FileSize, MimeType, @BookId, 'Books'
        FROM @Images;

	 -- Insert relationship between the book and translators
	    INSERT INTO BookTranslators (BookID,TranslatorID)
		SELECT @BookId,Id FROM @TranslatorIds

	 -- Insert relationship between the book and categories
	    INSERT INTO BookCategories(BookID,CategoryId)
		SELECT @BookId,Id FROM @CategoryIds

	-- Insert relationship between the book and tags
	    INSERT INTO BookTags(BookID,TagId)
		SELECT @BookId,Id FROM @TagIds

	COMMIT TRANSACTION;

        -- Return new Book ID
        SELECT @BookId AS InsertedBookId;
    END TRY
	 BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        -- Throw the error back to the caller
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[Book_Update]    Script Date: 11/09/1404 11:43:03 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Book_Update]
    @Id int,
	@Name NVARCHAR(255),
    @EnglishName NVARCHAR(255) = NULL,
    @Description NVARCHAR(MAX) = NULL,
    @Price DECIMAL(18, 2),
    @PrintSeries NVARCHAR(255) = NULL,
    @ISBN NVARCHAR(50) = NULL,
    @CoverType NVARCHAR(100) = NULL,
    @Format NVARCHAR(100) = NULL,
    @Pages INT = NULL,
    @PublishYear INT = NULL,
    @Publisher NVARCHAR(255) = NULL,
    @AuthorId INT,
	@IsRecommended BIT,
	 -- Translator ids
	@TranslatorIds IntList READONLY,
	-- Category ids
	@CategoryIds IntList READONLY,
	-- Tag ids
	@TagIds IntList READONLY
AS
BEGIN

	SET NOCOUNT ON;
	BEGIN TRY
        BEGIN TRANSACTION;
     -- Insert Book
    Update b SET
        Name = @Name,
        EnglishName = @EnglishName,
        Description = @Description,
        Price=@Price,
        PrintSeries=@PrintSeries,
        ISBN=@ISBN,
        CoverType=@CoverType,
        Format=@Format,
        Pages=@Pages,
        PublishYear=@PublishYear,
        Publisher=@Publisher,
        AuthorId=@AuthorId,
		IsRecommended = @IsRecommended
    FROM Books b
	WHERE Id = @Id AND DeletedAt IS NULL

	-- Check if no row was updated
    IF @@ROWCOUNT = 0
       BEGIN
           -- Commit before returning (or rollback, depending on desired behavior)
           ROLLBACK TRANSACTION;
           SELECT -1 AS Status, 'Book not found or already deleted' AS Message;
           RETURN;
       END

	 -- Attach and detach relationship between the book and translators
	    DELETE FROM BookTranslators WHERE BookID=@Id

	    INSERT INTO BookTranslators (BookID,TranslatorID)
		SELECT @Id,Id FROM @TranslatorIds

	 -- Attach and detach relationship between the book and categories
	    DELETE FROM BookCategories WHERE BookID=@Id

	    INSERT INTO BookCategories(BookID,CategoryId)
		SELECT @Id,Id FROM @CategoryIds

	-- Attach and detach relationship between the book and tags
	    DELETE FROM BookTags WHERE BookID=@Id

	    INSERT INTO BookTags(BookID,TagId)
		SELECT @Id,Id FROM @TagIds

	COMMIT TRANSACTION;

        -- Output
         SELECT 1 AS Status, 'Success' AS Message;
    END TRY
	 BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        -- Throw the error back to the caller
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[Books_DecreaseStockBulk]    Script Date: 11/09/1404 11:43:03 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Books_DecreaseStockBulk]
    @Items BookStockDecreaseList READONLY
AS
BEGIN
    UPDATE b
    SET b.Stock = b.Stock - i.Count
    FROM Books b
    INNER JOIN @Items i ON b.Id = i.BookId
    WHERE b.Stock >= i.Count;  
END
GO
/****** Object:  StoredProcedure [dbo].[Category_Get_All]    Script Date: 11/09/1404 11:43:03 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Category_Get_All]
	@PageNumber INT,
    @PageSize INT,
	@Search nvarchar(255)= ''
AS
BEGIN
	SET NOCOUNT ON;

   -- Get total count first
    DECLARE @TotalCount INT;

    SELECT @TotalCount = COUNT(*)
    FROM Categories
    WHERE DeletedAt IS NULL;

    -- Actual paginated data
    SELECT 
        id,
        Name,
        Url,
        MainCategoryId,
        CreatedAt,
		UpdatedAt
    FROM Categories
    WHERE DeletedAt IS NULL AND (Categories.Name LIKE '%' + ISNULL(@Search, '') + '%' OR Categories.Url LIKE '%' + ISNULL(@Search, '') + '%')
    ORDER BY id DESC
    OFFSET (@PageNumber - 1) * @PageSize ROWS
    FETCH NEXT @PageSize ROWS ONLY;

    -- Return metadata (can be second result set)
    SELECT 
        @TotalCount AS TotalCount,
        @PageSize AS PageSize,
        @PageNumber AS PageNumber,
        CEILING(CAST(@TotalCount AS FLOAT) / @PageSize) AS TotalPages;
END
GO
/****** Object:  StoredProcedure [dbo].[Category_Get_By_Url]    Script Date: 11/09/1404 11:43:03 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Category_Get_By_Url]
	@Url nvarchar(255)
AS
BEGIN
	SET NOCOUNT ON;

    SELECT Id,Name,Url,MainCategoryId,CreatedAt,UpdatedAt
	FROM Categories 
	WHERE Url=@Url 
END
GO
/****** Object:  StoredProcedure [dbo].[Category_Get_One]    Script Date: 11/09/1404 11:43:03 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Category_Get_One]
   @id int
AS
BEGIN
	SET NOCOUNT ON;
		SELECT Id,Name,Url,MainCategoryId,CreatedAt,UpdatedAt
	FROM Categories 
	WHERE id = @id and DeletedAt is null
END
GO
/****** Object:  StoredProcedure [dbo].[Comment_Get_All]    Script Date: 11/09/1404 11:43:03 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[Comment_Get_All]
	@PageNumber INT,
    @PageSize INT,
	@Search nvarchar(255) = ''
AS
BEGIN
	SET NOCOUNT ON;

     -- Get total count first
	Declare @TotalCount int;
	SELECT @TotalCount = COUNT(*)
	FROM Comments;

	-- Actual paginated data
	SELECT Id,Comment,Status,ForeignTable,ForeignId,CreatedAt,UpdatedAt
	FROM Comments
	WHERE Comments.Comment LIKE '%' + ISNULL(@Search, '') + '%'
	ORDER BY Id DESC
	OFFSET (@PageNumber - 1) * @PageSize ROWS
	FETCH NEXT @PageSize ROWS ONLY;

	-- Return metadata (can be second result set)
	SELECT 
	    @TotalCount AS TotalCount,
        @PageSize AS PageSize,
        @PageNumber AS PageNumber,
        CEILING(CAST(@TotalCount AS FLOAT) / @PageSize) AS TotalPages;
END
GO
/****** Object:  StoredProcedure [dbo].[Comment_Get_One]    Script Date: 11/09/1404 11:43:03 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Comment_Get_One]
   @id int
AS
BEGIN
	SET NOCOUNT ON;
		SELECT Id,Comment,Status,ForeignTable,ForeignId,CreatedAt,UpdatedAt
	FROM Comments 
	WHERE id = @id
END
GO
/****** Object:  StoredProcedure [dbo].[Get_User_Invoices_By_Id]    Script Date: 11/09/1404 11:43:03 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Get_User_Invoices_By_Id]
	@id int,
	@PageNumber INT = 1,
    @PageSize INT = 10
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- Variables
    DECLARE @TotalCount INT;
    DECLARE @Json NVARCHAR(MAX);

	---------------------------------------------------------
    -- 1) Find the user by mobile
    ---------------------------------------------------------
    IF @id IS NULL
    BEGIN
        SELECT '{ "error": "User not found" }' AS JsonResult;
        RETURN;
    END

	---------------------------------------------------------
    -- 2) Get total invoice count for pagination
    ---------------------------------------------------------
    SELECT @TotalCount = COUNT(*)
    FROM Invoices
    WHERE UserId = @id;

	---------------------------------------------------------
    -- 3) Build JSON result
    ---------------------------------------------------------
	 SELECT @Json =(
        SELECT
		i.Id,
		i.TotalPrice,
		i.Maliat,
		i.FinalTotalPrice,
		i.InvoiceStatus,
		i.PaymentStatus,
		i.UserId,
		i.CreatedAt,
		i.UpdatedAt,
		i.ValidatedAt,
		Books = (
			SELECT b.Id,b.Name,b.EnglishName,b.Description,b.Price,b.PrintSeries,b.ISBN,b.CoverType,
					b.Format,b.Pages,b.PublishYear,b.Publisher,b.Stock,b.AuthorId,
					b.CreatedAt,b.UpdatedAt,ib.Count AS PurchasedCount,ib.Price As PurchasedPrice
			FROM Books b
			INNER JOIN InvoiceBooks ib ON ib.BookId = b.Id
			WHERE ib.InvoiceId = i.Id
			FOR JSON PATH
		),
		Payments = (
			SELECT p.Id,p.InvoiceId,p.GatewayId,p.PaymentGateway,p.ResponseCode,
			p.Price,p.Message,p.Status,
			p.TransactionCode,p.CreatedAt,p.UpdatedAt
			FROM dbo.Payments AS p
			WHERE i.Id = p.InvoiceId
			FOR JSON PATH
		),

		Address = JSON_QUERY((
		  SELECT 
		      a.Id,
		      a.Name,
		      a.LastName,
		      a.Phone,
		      a.PostCode,
		      a.State,
		      a.City,
		      a.Address,
		      a.UserId,
		      a.CreatedAt,
		      a.UpdatedAt
		  FROM Addresses a
		  WHERE a.Id = i.AddressId
		  FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
		))
	FROM Invoices i
	INNER JOIN	Users u ON u.Id = i.UserId
	WHERE u.Id = @id AND u.DeletedAt IS NULL
	ORDER BY i.Id DESC
    OFFSET (@PageNumber - 1) * @PageSize ROWS
    FETCH NEXT @PageSize ROWS ONLY
	FOR JSON PATH
	);

	-- Output JSON
    SELECT @Json AS JsonResult;

	-- Return metadata (can be second result set)
	SELECT 
	    @TotalCount AS TotalCount,
        @PageSize AS PageSize,
        @PageNumber AS PageNumber,
        CAST(CEILING(CAST(@TotalCount AS FLOAT) / @PageSize) AS INT) AS TotalPages
	FOR JSON PATH, WITHOUT_ARRAY_WRAPPER;
END
GO
/****** Object:  StoredProcedure [dbo].[Get_User_Invoices_By_Mobile]    Script Date: 11/09/1404 11:43:03 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Get_User_Invoices_By_Mobile]
	@mobile nvarchar(50),
	@PageNumber INT = 1,
    @PageSize INT = 10
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- Variables
	DECLARE @UserId INT;
    DECLARE @TotalCount INT;
    DECLARE @Json NVARCHAR(MAX);

	---------------------------------------------------------
    -- 1) Find the user by mobile
    ---------------------------------------------------------
    SELECT TOP 1 @UserId = Id
    FROM Users
    WHERE Mobile = @Mobile AND DeletedAt IS NULL;

    IF @UserId IS NULL
    BEGIN
        SELECT '{ "error": "User not found" }' AS JsonResult;
        RETURN;
    END

	---------------------------------------------------------
    -- 2) Get total invoice count for pagination
    ---------------------------------------------------------
    SELECT @TotalCount = COUNT(*)
    FROM Invoices
    WHERE UserId = @UserId;

	---------------------------------------------------------
    -- 3) Build JSON result
    ---------------------------------------------------------
	 SELECT @Json =(
        SELECT
		i.Id,
		i.TotalPrice,
		i.Maliat,
		i.FinalTotalPrice,
		i.InvoiceStatus,
		i.PaymentStatus,
		i.UserId,
		i.CreatedAt,
		i.UpdatedAt,
		i.ValidatedAt,
		Books = (
			SELECT b.Id,b.Name,b.EnglishName,b.Description,b.Price,b.PrintSeries,b.ISBN,b.CoverType,
					b.Format,b.Pages,b.PublishYear,b.Publisher,b.Stock,b.AuthorId,
					b.CreatedAt,b.UpdatedAt,ib.Count AS PurchasedCount,ib.Price As PurchasedPrice,
					Author = JSON_QUERY((
                        SELECT a.Id, a.Name, a.Description, a.CreatedAt, a.UpdatedAt
                        FROM Authors a
                        WHERE a.Id = b.AuthorId
                        FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
                    )),

					-- Images for each book
                    Images = (
                        SELECT 
                            i.Id,
                            i.Width,
                            i.Height,
                            i.IsPrimary,
                            i.StoredFileName,
                            i.RelativePath,
                            i.FileSize,
                            i.MimeType,
                            i.CreatedAt,
                            i.UpdatedAt
                        FROM Images i
                        WHERE i.ForeignId = b.Id AND i.ForeignTable = 'Books'
                        FOR JSON PATH
						)
			FROM Books b
			INNER JOIN InvoiceBooks ib ON ib.BookId = b.Id
			WHERE ib.InvoiceId = i.Id
			FOR JSON PATH
		),
		Payments = (
			SELECT p.Id,p.InvoiceId,p.GatewayId,p.PaymentGateway,p.ResponseCode,
			p.Price,p.Message,p.Status,
			p.TransactionCode,p.CreatedAt,p.UpdatedAt
			FROM dbo.Payments AS p
			WHERE i.Id = p.InvoiceId
			FOR JSON PATH
		),

		Address = JSON_QUERY((
		  SELECT 
		      a.Id,
		      a.Name,
		      a.LastName,
		      a.Phone,
		      a.PostCode,
		      a.State,
		      a.City,
		      a.Address,
		      a.UserId,
		      a.CreatedAt,
		      a.UpdatedAt
		  FROM Addresses a
		  WHERE a.Id = i.AddressId
		  FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
		))
	FROM Invoices i
	INNER JOIN	Users u ON u.Id = i.UserId
	WHERE u.Mobile = @mobile AND u.DeletedAt IS NULL
	ORDER BY i.Id DESC
    OFFSET (@PageNumber - 1) * @PageSize ROWS
    FETCH NEXT @PageSize ROWS ONLY
	FOR JSON PATH
	);

	-- Output JSON
    SELECT @Json AS JsonResult;

	-- Return metadata (can be second result set)
	SELECT 
	    @TotalCount AS TotalCount,
        @PageSize AS PageSize,
        @PageNumber AS PageNumber,
        CAST(CEILING(CAST(@TotalCount AS FLOAT) / @PageSize) AS INT) AS TotalPages
	FOR JSON PATH, WITHOUT_ARRAY_WRAPPER;
END
GO
/****** Object:  StoredProcedure [dbo].[Image_Change_Primary]    Script Date: 11/09/1404 11:43:03 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Image_Change_Primary]
	@Id int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	BEGIN TRY

    DECLARE @ForeignTable TABLE (ForeignId INT,ForeignTable nvarchar(50));

	BEGIN TRANSACTION
	-- FINDING OTHER IMAGES OF THE ENTITY
	INSERT INTO @ForeignTable (ForeignId, ForeignTable)
    SELECT ForeignId, ForeignTable
    FROM Images
    WHERE Id = @Id;
	
	-- FINDING THE CURRENT ENTITY PRIMARY IMAGE
	DECLARE @PrimaryId int;
	SELECT @PrimaryId = i.Id FROM Images i,@ForeignTable ft
	WHERE i.ForeignId = ft.ForeignId and i.ForeignTable = ft.ForeignTable and i.IsPrimary = 1;

	-- CHANGING PRIMARY IMAGE OF ENTITY
    UPDATE i SET IsPrimary = 0 FROM Images i WHERE i.Id = @PrimaryId;
	UPDATE i SET IsPrimary = 1 FROM Images i WHERE i.Id = @Id;
	COMMIT TRANSACTION;
	  -- Return a value via SELECT
        SELECT 1 AS Success;
	END TRY
	BEGIN CATCH
	  IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        -- Throw the error back to the caller
        THROW;
	END CATCH

END
GO
/****** Object:  StoredProcedure [dbo].[Image_Get_By_Ids]    Script Date: 11/09/1404 11:43:03 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Image_Get_By_Ids]
	@Ids IntList READONLY
AS
BEGIN
	SELECT 
		i.Id,
		i.Height,
		i.Width,
		i.IsPrimary,
		i.StoredFileName,
		i.RelativePath,
		i.FileSize,
		i.MimeType,
		i.CreatedAt,
		i.UpdatedAt
	FROM Images i
	WHERE  i.Id IN (SELECT Id FROM @Ids)
END
GO
/****** Object:  StoredProcedure [dbo].[Image_Get_One]    Script Date: 11/09/1404 11:43:03 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Image_Get_One]
	@Id int
AS
BEGIN
	SELECT 
		i.Id,
		i.Height,
		i.Width,
		i.IsPrimary,
		i.StoredFileName,
		i.RelativePath,
		i.FileSize,
		i.MimeType,
		i.ForeignTable,
		i.ForeignId,
		i.CreatedAt,
		i.UpdatedAt
	FROM Images i
	WHERE  i.Id = @id
END
GO
/****** Object:  StoredProcedure [dbo].[Image_Insert]    Script Date: 11/09/1404 11:43:03 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Image_Insert]
	@Images ImageInfoType READONLY,
	@ForeignTable nvarchar(50),
	@ForeignId int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	 BEGIN TRY
	 DECLARE @InsertedIds TABLE (Id INT);
	
        BEGIN TRANSACTION;
	INSERT INTO Images (Width, Height, IsPrimary, StoredFileName, RelativePath,
                            FileSize, MimeType, ForeignId, ForeignTable)
	OUTPUT INSERTED.Id INTO @InsertedIds -- Capture new IDs
    SELECT Width, Height, IsPrimary, StoredFileName, RelativePath,
               FileSize, MimeType, @ForeignId, @ForeignTable
    FROM @Images;
	COMMIT TRANSACTION;
	 -- Return the IDs to the caller
    SELECT Id FROM @InsertedIds;
	END TRY
	BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        -- Throw the error back to the caller
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[Invoice_Get_One]    Script Date: 11/09/1404 11:43:03 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Invoice_Get_One]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Invoice main info
    SELECT 
        i.Id,
        i.TotalPrice,
        i.Maliat,
        i.FinalTotalPrice,
        i.PaymentStatus,
        i.InvoiceStatus,
        i.UserId,
		i.AddressId,
        i.CreatedAt,
        i.UpdatedAt,
        i.ValidatedAt
    FROM Invoices i
    WHERE i.Id = @Id;

    -- Related Payments
    SELECT
        p.Id,
        p.InvoiceId,
        p.GatewayId,
        p.PaymentGateway,
        p.ResponseCode,
		p.Price,
        p.Message,
        p.Status,
        p.TransactionCode,
        p.CreatedAt,
        p.UpdatedAt
    FROM Payments p
    WHERE p.InvoiceId = @Id;

    -- Related Books
    SELECT 
        b.Id,
        b.Name,
        b.EnglishName,
        b.Description,
        b.Price,
        b.PrintSeries,
        b.ISBN,
        b.CoverType,
        b.Format,
        b.Pages,
        b.PublishYear,
        b.Publisher,
        b.Stock,
        b.AuthorId,
        b.CreatedAt,
        b.UpdatedAt,
        ib.Count AS PurchasedCount
    FROM Books b
    INNER JOIN InvoiceBooks ib ON ib.BookId = b.Id
    WHERE ib.InvoiceId = @Id;

    -- User info
    SELECT 
        u.Id,
        u.Name,
		u.LastName,
        u.Mobile,
		u.Role,
        u.CreatedAt,
        u.UpdatedAt
    FROM Users u
    INNER JOIN Invoices i ON i.UserId = u.Id
    WHERE i.Id = @Id;

	-- Related addresses
	 SELECT 
        a.Id,
        a.Name,
        a.LastName,
        a.Phone,
        a.PostCode,
        a.State,
        a.City,
        a.Address,
        a.UserId,
        a.CreatedAt,
        a.UpdatedAt
    FROM Addresses a
	INNER JOIN Invoices i ON i.AddressId = a.Id
    WHERE i.Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[Invoice_Insert]    Script Date: 11/09/1404 11:43:03 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Invoice_Insert]
(
    @UserId INT,
	@AddressId INT,
    @Books IntList READONLY,   -- table type containing Id (int)
    @Counts IntList READONLY   -- table type containing Id (int) meaning Count
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        --------------------------------------------------------------------
        -- 1) Create Invoice (empty price values for now)
        --------------------------------------------------------------------
        INSERT INTO Invoices
        (
            UserId,
			AddressId,
            TotalPrice,
            Maliat,
            FinalTotalPrice,
            PaymentStatus,
            InvoiceStatus,
            ValidatedAt
        )
        VALUES
        (
            @UserId,
			@AddressId,
            0,               -- will update later
            0,
            0,
            3,               -- Initiated
            1,               -- Confirmed
            NULL
        );

        DECLARE @InvoiceId INT = SCOPE_IDENTITY();

        --------------------------------------------------------------------
        -- 2) Insert Records Into InvoiceBooks
        --------------------------------------------------------------------
        ;WITH B AS (
            SELECT ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) AS rn, Id AS BookId
            FROM @Books
        ),
        C AS (
            SELECT ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) AS rn, Id AS CountValue
            FROM @Counts
        )
        INSERT INTO InvoiceBooks (InvoiceId, BookId, Count, Price)
        SELECT 
            @InvoiceId,
            b.BookId,
            c.CountValue,
            bk.Price
        FROM B b
        INNER JOIN C c ON b.rn = c.rn
        INNER JOIN Books bk ON b.BookId = bk.Id;

        --------------------------------------------------------------------
        -- 3) Calculate Pricing
        --------------------------------------------------------------------
        DECLARE @TotalPrice BIGINT = (
            SELECT SUM(ib.Price * ib.Count)
            FROM InvoiceBooks ib
            WHERE ib.InvoiceId = @InvoiceId
        );

        DECLARE @Maliat BIGINT = (@TotalPrice * 9) / 100;
        DECLARE @FinalTotal BIGINT = @TotalPrice + @Maliat;

        --------------------------------------------------------------------
        -- 4) Update Invoice With Final Price Values
        --------------------------------------------------------------------
        UPDATE Invoices
        SET 
            TotalPrice = @TotalPrice,
            Maliat = @Maliat,
            FinalTotalPrice = @FinalTotal,
            UpdatedAt = GETDATE()
        WHERE Id = @InvoiceId;

        --------------------------------------------------------------------
        -- 5) Commit Transaction
        --------------------------------------------------------------------
        COMMIT TRANSACTION;

        SELECT @InvoiceId AS InvoiceId;  -- return created invoice ID
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[Payment_Get_One]    Script Date: 11/09/1404 11:43:03 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Payment_Get_One]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        p.Id,
        p.InvoiceId,
        p.GatewayId,
        p.PaymentGateway,
        p.ResponseCode,
		p.Price,
        p.Message,
        p.Status,
        p.TransactionCode,
        p.CreatedAt,
        p.UpdatedAt
    FROM dbo.Payments AS p
    WHERE p.Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[Tag_Get_All]    Script Date: 11/09/1404 11:43:03 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Tag_Get_All]
	@PageNumber INT,
    @PageSize INT,
	@Search nvarchar(255) = ''
AS
BEGIN
	SET NOCOUNT ON;

     -- Get total count first
	Declare @TotalCount int;
	SELECT @TotalCount = COUNT(*)
	FROM Tags WHERE DeletedAt IS NULL;

	-- Actual paginated data
	SELECT Id,Name,Url,CreatedAt,UpdatedAt
	FROM Tags
	WHERE DeletedAt IS NULL AND (Tags.Name LIKE '%' + ISNULL(@Search, '') + '%' OR Tags.Url LIKE '%' + ISNULL(@Search, '') + '%')
	ORDER BY Id DESC
	OFFSET (@PageNumber - 1) * @PageSize ROWS
	FETCH NEXT @PageSize ROWS ONLY;

	-- Return metadata (can be second result set)
	SELECT 
	    @TotalCount AS TotalCount,
        @PageSize AS PageSize,
        @PageNumber AS PageNumber,
        CEILING(CAST(@TotalCount AS FLOAT) / @PageSize) AS TotalPages;
END
GO
/****** Object:  StoredProcedure [dbo].[Tag_Get_By_Url]    Script Date: 11/09/1404 11:43:03 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Tag_Get_By_Url]
	@Url nvarchar(255)
AS
BEGIN
	SET NOCOUNT ON;

    SELECT Id,Name,Url,CreatedAt,UpdatedAt
	FROM Tags 
	WHERE Url=@Url 
END
GO
/****** Object:  StoredProcedure [dbo].[Tag_Get_One]    Script Date: 11/09/1404 11:43:03 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Tag_Get_One]
   @id int
AS
BEGIN
	SET NOCOUNT ON;
		SELECT Id,Name,Url,CreatedAt,UpdatedAt
	FROM Tags 
	WHERE id = @id and DeletedAt is null
END
GO
/****** Object:  StoredProcedure [dbo].[Translator_Get_All]    Script Date: 11/09/1404 11:43:03 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Translator_Get_All]
    @PageNumber INT,
    @PageSize INT,
	@Search nvarchar(255) = ''
AS
BEGIN
	SET NOCOUNT ON;

     -- Get total count first
	Declare @TotalCount int;
	SELECT @TotalCount = COUNT(*)
	FROM Translators WHERE DeletedAt IS NULL;

	-- Actual paginated data
	SELECT Id,Name,Description,CreatedAt,UpdatedAt
	FROM Translators
	WHERE DeletedAt IS NULL AND Translators.Name LIKE '%' + ISNULL(@Search, '') + '%'
	ORDER BY Id DESC
	OFFSET (@PageNumber - 1) * @PageSize ROWS
	FETCH NEXT @PageSize ROWS ONLY;

	-- Return metadata (can be second result set)
	SELECT 
	    @TotalCount AS TotalCount,
        @PageSize AS PageSize,
        @PageNumber AS PageNumber,
        CEILING(CAST(@TotalCount AS FLOAT) / @PageSize) AS TotalPages;
END
GO
/****** Object:  StoredProcedure [dbo].[Translator_Get_One]    Script Date: 11/09/1404 11:43:03 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Translator_Get_One]
      @id int
AS
BEGIN
	SET NOCOUNT ON;

		SELECT Id,Name,Description,CreatedAt,UpdatedAt
	FROM Translators 
	WHERE id = @id and DeletedAt is null
END
GO
/****** Object:  StoredProcedure [dbo].[User_Get_By_Mobile]    Script Date: 11/09/1404 11:43:03 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[User_Get_By_Mobile]
	@mobile nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
    DECLARE @Json NVARCHAR(MAX);

    SELECT @Json =
    (
        SELECT
            u.Id,
            u.Name,
            u.LastName,
            u.Mobile,
            u.Password,
            u.Role,
            u.CreatedAt,
            u.UpdatedAt,
            u.LoggedInAt,

            -- Addresses
            Addresses = (
                SELECT 
				    a.Id,
                    a.Name,
                    a.LastName,
                    a.Phone,
                    a.PostCode,
                    a.State,
                    a.City,
                    a.Address,
                    a.UserId,
                    a.CreatedAt,
                    a.UpdatedAt
                FROM Addresses a
                WHERE a.UserId = u.Id
                FOR JSON PATH
            ),

           -- Invoices
			Invoices = (
			    SELECT
			        i.Id,
			        i.TotalPrice,
			        i.Maliat,
			        i.FinalTotalPrice,
			        i.InvoiceStatus,
			        i.PaymentStatus,
			        i.UserId,
			        i.AddressId,
			        i.CreatedAt,
			        i.UpdatedAt,
			        i.ValidatedAt,
			
			        -- Address of this invoice
			        Address = JSON_QUERY((
			            SELECT 
			                a.Id,
			                a.Name,
			                a.LastName,
			                a.Phone,
			                a.PostCode,
			                a.State,
			                a.City,
			                a.Address,
			                a.UserId,
			                a.CreatedAt,
			                a.UpdatedAt
			            FROM Addresses a
			            WHERE a.Id = i.AddressId
			            FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
			        ))
			
			    FROM Invoices i
			    WHERE i.UserId = u.Id
			    FOR JSON PATH
			),
         
            -- Wishlist Books
            WishList = (
                SELECT
                    b.Id,
                    b.Name,
                    b.EnglishName,
                    b.Description,
                    b.Price,
                    b.PrintSeries,
                    b.ISBN,
                    b.CoverType,
                    b.Format,
                    b.Pages,
                    b.PublishYear,
                    b.Publisher,
                    b.AuthorId,
                    b.IsRecommended,
                    b.Stock,
                    b.CreatedAt,
                    b.UpdatedAt,

                    Author = JSON_QUERY((
                        SELECT a.Id, a.Name, a.Description, a.CreatedAt, a.UpdatedAt
                        FROM Authors a
                        WHERE a.Id = b.AuthorId
                        FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
                    )),

					-- Images for each book
                    Images = (
                        SELECT 
                            i.Id,
                            i.Width,
                            i.Height,
                            i.IsPrimary,
                            i.StoredFileName,
                            i.RelativePath,
                            i.FileSize,
                            i.MimeType,
                            i.CreatedAt,
                            i.UpdatedAt
                        FROM Images i
                        WHERE i.ForeignId = b.Id AND i.ForeignTable = 'Books'
                        FOR JSON PATH
                    )

                FROM WishList w
                INNER JOIN Books b ON b.Id = w.BookId
                WHERE w.UserId = u.Id
                FOR JSON PATH
            )

        FROM Users u
        WHERE u.Mobile = @mobile AND u.DeletedAt IS NULL
        FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
    );

    SELECT @Json AS JsonResult;
END
GO
/****** Object:  StoredProcedure [dbo].[User_Get_One]    Script Date: 11/09/1404 11:43:03 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[User_Get_One] 
	@id int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @Json NVARCHAR(MAX);

    SELECT @Json =
    (
        SELECT
            u.Id,
            u.Name,
            u.LastName,
            u.Mobile,
            u.Password,
            u.Role,
            u.CreatedAt,
            u.UpdatedAt,
            u.LoggedInAt,

            -- Addresses
            Addresses = (
                SELECT 
                    a.Name,
                    a.LastName,
                    a.Phone,
                    a.PostCode,
                    a.State,
                    a.City,
                    a.Address,
                    a.UserId,
                    a.CreatedAt,
                    a.UpdatedAt
                FROM Addresses a
                WHERE a.UserId = u.Id
                FOR JSON PATH
            ),

            -- Invoices
			Invoices = (
			    SELECT
			        i.Id,
			        i.TotalPrice,
			        i.Maliat,
			        i.FinalTotalPrice,
			        i.InvoiceStatus,
			        i.PaymentStatus,
			        i.UserId,
			        i.AddressId,
			        i.CreatedAt,
			        i.UpdatedAt,
			        i.ValidatedAt,
			
			        -- Address of this invoice
			        Address = JSON_QUERY((
			            SELECT 
			                a.Id,
			                a.Name,
			                a.LastName,
			                a.Phone,
			                a.PostCode,
			                a.State,
			                a.City,
			                a.Address,
			                a.UserId,
			                a.CreatedAt,
			                a.UpdatedAt
			            FROM Addresses a
			            WHERE a.Id = i.AddressId
			            FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
			        ))
			
			    FROM Invoices i
			    WHERE i.UserId = u.Id
			    FOR JSON PATH
			),

            -- Wishlist Books
            WishList = (
                SELECT
                    b.Id,
                    b.Name,
                    b.EnglishName,
                    b.Description,
                    b.Price,
                    b.PrintSeries,
                    b.ISBN,
                    b.CoverType,
                    b.Format,
                    b.Pages,
                    b.PublishYear,
                    b.Publisher,
                    b.AuthorId,
                    b.IsRecommended,
                    b.Stock,
                    b.CreatedAt,
                    b.UpdatedAt,

                    Author = JSON_QUERY((
                        SELECT a.Id, a.Name, a.Description, a.CreatedAt, a.UpdatedAt
                        FROM Authors a
                        WHERE a.Id = b.AuthorId
                        FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
                    )),

					-- Images for each book
                    Images = (
                        SELECT 
                            i.Id,
                            i.Width,
                            i.Height,
                            i.IsPrimary,
                            i.StoredFileName,
                            i.RelativePath,
                            i.FileSize,
                            i.MimeType,
                            i.CreatedAt,
                            i.UpdatedAt
                        FROM Images i
                        WHERE i.ForeignId = b.Id AND i.ForeignTable = 'Books'
                        FOR JSON PATH
                    )

                FROM WishList w
                INNER JOIN Books b ON b.Id = w.BookId
                WHERE w.UserId = u.Id
                FOR JSON PATH
            )

        FROM Users u
        WHERE u.Id = @id AND u.DeletedAt IS NULL
        FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
    );

    SELECT @Json AS JsonResult;
END
GO
/****** Object:  StoredProcedure [dbo].[WishList_Get_One]    Script Date: 11/09/1404 11:43:03 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[WishList_Get_One]
	@userId int,
	@bookId int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    SELECT UserId,BookId
	FROM WishList
	WHERE UserId = @userId and BookId = @bookId
END
GO
/****** Object:  Trigger [dbo].[Trg_Addresses_Insert]    Script Date: 11/09/1404 11:43:03 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[Trg_Addresses_Insert]
   ON  [dbo].[Addresses]
   AFTER Insert
AS 
BEGIN

	SET NOCOUNT ON;

    Update A
	SET CreatedAt = GETDATE()
	FROM Addresses A
	INNER JOIN inserted i on A.Id = i.Id

END
GO
ALTER TABLE [dbo].[Addresses] ENABLE TRIGGER [Trg_Addresses_Insert]
GO
/****** Object:  Trigger [dbo].[Trg_Addresses_Update]    Script Date: 11/09/1404 11:43:03 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[Trg_Addresses_Update]
   ON  [dbo].[Addresses]
   AFTER Update
AS 
BEGIN

	SET NOCOUNT ON;

    Update A
	SET UpdatedAt = GETDATE()
	FROM Addresses A
	INNER JOIN inserted i on A.Id = i.Id

END
GO
ALTER TABLE [dbo].[Addresses] ENABLE TRIGGER [Trg_Addresses_Update]
GO
/****** Object:  Trigger [dbo].[Trg_Writers_Insert]    Script Date: 11/09/1404 11:43:03 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[Trg_Writers_Insert]
   ON  [dbo].[Authors]
   AFTER Insert
AS 
BEGIN

	SET NOCOUNT ON;

    Update A
	SET CreatedAt = GETDATE()
	FROM Authors A
	INNER JOIN inserted i on A.Id = i.Id

END
GO
ALTER TABLE [dbo].[Authors] ENABLE TRIGGER [Trg_Writers_Insert]
GO
/****** Object:  Trigger [dbo].[Trg_Writers_Update]    Script Date: 11/09/1404 11:43:03 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[Trg_Writers_Update]
   ON  [dbo].[Authors]
   AFTER Update
AS 
BEGIN

	SET NOCOUNT ON;

    Update A
	SET UpdatedAt = GETDATE()
	FROM Authors A
	INNER JOIN inserted i on A.Id = i.Id

END
GO
ALTER TABLE [dbo].[Authors] ENABLE TRIGGER [Trg_Writers_Update]
GO
/****** Object:  Trigger [dbo].[Trg_Books_Insert]    Script Date: 11/09/1404 11:43:03 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[Trg_Books_Insert]
   ON  [dbo].[Books]
   AFTER Insert
AS 
BEGIN

	SET NOCOUNT ON;

    Update B
	SET CreatedAt = GETDATE()
	FROM Books B
	INNER JOIN inserted i on B.Id = i.Id

END
GO
ALTER TABLE [dbo].[Books] ENABLE TRIGGER [Trg_Books_Insert]
GO
/****** Object:  Trigger [dbo].[Trg_Books_Update]    Script Date: 11/09/1404 11:43:03 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[Trg_Books_Update]
   ON  [dbo].[Books]
   AFTER Update
AS 
BEGIN

	SET NOCOUNT ON;

    Update B
	SET UpdatedAt = GETDATE()
	FROM Books B
	INNER JOIN inserted i on B.Id = i.Id

END
GO
ALTER TABLE [dbo].[Books] ENABLE TRIGGER [Trg_Books_Update]
GO
/****** Object:  Trigger [dbo].[Trg_Category_Insert]    Script Date: 11/09/1404 11:43:03 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[Trg_Category_Insert]
   ON  [dbo].[Categories]
   AFTER Insert
AS 
BEGIN
   SET NOCOUNT ON;

   UPDATE C
   SET CreatedAt = GETDATE()
   FROM Categories C
   INNER JOIN inserted I ON C.Id = I.Id;

END
GO
ALTER TABLE [dbo].[Categories] ENABLE TRIGGER [Trg_Category_Insert]
GO
/****** Object:  Trigger [dbo].[Trg_Category_Update]    Script Date: 11/09/1404 11:43:03 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[Trg_Category_Update]
   ON  [dbo].[Categories]
   AFTER Update
AS 
BEGIN
   SET NOCOUNT ON;

   UPDATE C
   SET UpdatedAt = GETDATE()
   FROM Categories C
   INNER JOIN inserted I ON C.Id = I.Id
   WHERE I.DeletedAt is null;

END
GO
ALTER TABLE [dbo].[Categories] ENABLE TRIGGER [Trg_Category_Update]
GO
/****** Object:  Trigger [dbo].[Trg_Comments_Insert]    Script Date: 11/09/1404 11:43:03 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE TRIGGER [dbo].[Trg_Comments_Insert]
   ON  [dbo].[Comments]
   AFTER Insert
AS 
BEGIN

	SET NOCOUNT ON;

    Update C
	SET CreatedAt = GETDATE()
	FROM Comments C
	INNER JOIN inserted i on C.Id = i.Id

END
GO
ALTER TABLE [dbo].[Comments] ENABLE TRIGGER [Trg_Comments_Insert]
GO
/****** Object:  Trigger [dbo].[Trg_Comments_Update]    Script Date: 11/09/1404 11:43:04 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE TRIGGER [dbo].[Trg_Comments_Update]
   ON  [dbo].[Comments]
   AFTER Update
AS 
BEGIN

	SET NOCOUNT ON;

    Update C
	SET UpdatedAt = GETDATE()
	FROM Comments C
	INNER JOIN inserted i on C.Id = i.Id

END
GO
ALTER TABLE [dbo].[Comments] ENABLE TRIGGER [Trg_Comments_Update]
GO
/****** Object:  Trigger [dbo].[Trg_Image_Insert]    Script Date: 11/09/1404 11:43:04 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


Create TRIGGER [dbo].[Trg_Image_Insert]
   ON  [dbo].[Images]
   AFTER Insert
AS 
BEGIN
   SET NOCOUNT ON;

   UPDATE im
   SET CreatedAt = GETDATE()
   FROM Images im
   INNER JOIN inserted I ON im.Id = I.Id;

END
GO
ALTER TABLE [dbo].[Images] ENABLE TRIGGER [Trg_Image_Insert]
GO
/****** Object:  Trigger [dbo].[Trg_Image_Update]    Script Date: 11/09/1404 11:43:04 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


Create TRIGGER [dbo].[Trg_Image_Update]
   ON  [dbo].[Images]
   AFTER Update
AS 
BEGIN
   SET NOCOUNT ON;

   UPDATE im
   SET UpdatedAt = GETDATE()
   FROM Images im
   INNER JOIN inserted I ON im.Id = I.Id;

END
GO
ALTER TABLE [dbo].[Images] ENABLE TRIGGER [Trg_Image_Update]
GO
/****** Object:  Trigger [dbo].[Trg_Invoices_Insert]    Script Date: 11/09/1404 11:43:04 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[Trg_Invoices_Insert]
   ON  [dbo].[Invoices] 
   AFTER INSERT
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    Update I
	SET CreatedAt = GETDATE()
	FROM Invoices I
	INNER JOIN inserted ins on I.Id = ins.Id

END
GO
ALTER TABLE [dbo].[Invoices] ENABLE TRIGGER [Trg_Invoices_Insert]
GO
/****** Object:  Trigger [dbo].[Trg_Invoices_Update]    Script Date: 11/09/1404 11:43:04 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[Trg_Invoices_Update]
   ON  [dbo].[Invoices]
   AFTER UPDATE
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    Update I
	SET UpdatedAt= GETDATE()
	FROM Invoices I
	INNER JOIN inserted ins on I.Id = ins.Id

END
GO
ALTER TABLE [dbo].[Invoices] ENABLE TRIGGER [Trg_Invoices_Update]
GO
/****** Object:  Trigger [dbo].[Trg_Payments_Insert]    Script Date: 11/09/1404 11:43:04 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[Trg_Payments_Insert]
   ON  [dbo].[Payments]
   AFTER INSERT
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    Update P
	SET CreatedAt = GETDATE()
	FROM Payments P
	INNER JOIN inserted i on P.Id = i.Id

END
GO
ALTER TABLE [dbo].[Payments] ENABLE TRIGGER [Trg_Payments_Insert]
GO
/****** Object:  Trigger [dbo].[Trg_Payments_Update]    Script Date: 11/09/1404 11:43:04 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[Trg_Payments_Update]
   ON  [dbo].[Payments]
   AFTER UPDATE
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    Update P
	SET UpdatedAt= GETDATE()
	FROM Payments P
	INNER JOIN inserted i on P.Id = i.Id

END
GO
ALTER TABLE [dbo].[Payments] ENABLE TRIGGER [Trg_Payments_Update]
GO
/****** Object:  Trigger [dbo].[Trg_Tags_Insert]    Script Date: 11/09/1404 11:43:04 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[Trg_Tags_Insert]
   ON  [dbo].[Tags]
   AFTER Insert
AS 
BEGIN

	SET NOCOUNT ON;

    Update T
	SET CreatedAt = GETDATE()
	FROM Tags T
	INNER JOIN inserted i on T.Id = i.Id

END
GO
ALTER TABLE [dbo].[Tags] ENABLE TRIGGER [Trg_Tags_Insert]
GO
/****** Object:  Trigger [dbo].[Trg_Tags_Update]    Script Date: 11/09/1404 11:43:04 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[Trg_Tags_Update]
   ON  [dbo].[Tags]
   AFTER Update
AS 
BEGIN

	SET NOCOUNT ON;

    Update T
	SET UpdatedAt = GETDATE()
	FROM Tags T
	INNER JOIN inserted i on T.Id = i.Id

END
GO
ALTER TABLE [dbo].[Tags] ENABLE TRIGGER [Trg_Tags_Update]
GO
/****** Object:  Trigger [dbo].[Trg_Translators_Insert]    Script Date: 11/09/1404 11:43:04 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[Trg_Translators_Insert]
   ON  [dbo].[Translators]
   AFTER Insert
AS 
BEGIN

	SET NOCOUNT ON;

    Update T
	SET CreatedAt = GETDATE()
	FROM Translators T
	INNER JOIN inserted i on T.Id = i.Id

END
GO
ALTER TABLE [dbo].[Translators] ENABLE TRIGGER [Trg_Translators_Insert]
GO
/****** Object:  Trigger [dbo].[Trg_Translators_Update]    Script Date: 11/09/1404 11:43:04 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[Trg_Translators_Update]
   ON  [dbo].[Translators]
   AFTER Update
AS 
BEGIN

	SET NOCOUNT ON;

    Update T
	SET UpdatedAt = GETDATE()
	FROM Translators T
	INNER JOIN inserted i on T.Id = i.Id

END
GO
ALTER TABLE [dbo].[Translators] ENABLE TRIGGER [Trg_Translators_Update]
GO
/****** Object:  Trigger [dbo].[TrgUserInsert]    Script Date: 11/09/1404 11:43:04 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TrgUserInsert]
	ON [dbo].[Users]
	AFTER Insert
AS 
BEGIN
   SET NOCOUNT ON;

   UPDATE U
   SET CreatedAt = GETDATE()
   FROM Users U
   INNER JOIN inserted I ON U.Id = I.Id;
END
GO
ALTER TABLE [dbo].[Users] ENABLE TRIGGER [TrgUserInsert]
GO
/****** Object:  Trigger [dbo].[TrgUserUpdate]    Script Date: 11/09/1404 11:43:04 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create TRIGGER [dbo].[TrgUserUpdate]
	ON [dbo].[Users]
	AFTER Update
AS 
BEGIN
   SET NOCOUNT ON;

   UPDATE U
   SET UpdatedAt = GETDATE()
   FROM Users U
   INNER JOIN inserted I ON U.Id = I.Id;
END
GO
ALTER TABLE [dbo].[Users] ENABLE TRIGGER [TrgUserUpdate]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'نوع جلد' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Books', @level2type=N'COLUMN',@level2name=N'CoverType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'قطع' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Books', @level2type=N'COLUMN',@level2name=N'Format'
GO
USE [master]
GO
