<div class="flex space-x-4 my-5 md:hidden px-2">
    <input type="text" class="input input-lg flex-8 pr-5" placeholder="جستجو در کتاب ها و نویسندگان ..." />
    <button class="btn btn-lg btn-info flex-1">جستجو</button>
</div>

<div class="mx-20 hidden md:block mb-5">
    <div class="hero rounded-b-3xl min-h-65"
        style="background-image: url(https://img.daisyui.com/images/stock/photo-1507358522600-9f71e620c44e.webp);">
        <div class="hero-overlay rounded-b-3xl"></div>
        <div class="hero-content text-neutral-content text-center ">
            <div class="max-w-lg">
                <h1 class="mb-5 text-5xl font-bold">رویای خود را پیدا کنید</h1>
                <p class="mb-5">
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                    و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه
                    روزنامه و مجله در ستون و سطرآنچنان که لازم است
                </p>
                <!-- Search box -->
                <div class="join w-full">
                    <input type="text" placeholder="نام کتاب یا نویسنده..."
                        class="input input-bordered w-full join-item text-base-content" />
                    <button class="btn btn-info join-item text-info-content">جستجو</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mx-2 md:mx-20 my-10">
    <div class="hero rounded-3xl min-h-65"
        style="background-image: url(https://img.daisyui.com/images/stock/photo-1507358522600-9f71e620c44e.webp);">
        <div class="hero-overlay rounded-3xl"></div>
        <div class="hero-content text-neutral-content text-center ">
            <div class="max-w-lg">
                <h1 class="mb-5 text-3xl md:text-5xl font-bold">رویای خود را پیدا کنید</h1>
                <p class="mb-5">
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                    و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه
                    روزنامه و مجله در ستون و سطرآنچنان که لازم است
                </p>
                <!-- Button -->
                <button class="btn btn-primary join-item text-primary-content">مشاهده</button>
            </div>
        </div>
    </div>
</div>
