<!-- sidebar -->
<div class="drawer z-51">
  <input id="public-sidebar" type="checkbox" class="drawer-toggle" />
  <div class="drawer-side">
    <label for="public-sidebar" aria-label="close sidebar" class="drawer-overlay"></label>
    <ul class="menu bg-base-200 text-base-content min-h-80 min-w-85 sm:w-150 p-4 space-y-3">

      <!-- Dynamic Categories -->
      @for (category of categories; track category.id) {
        <li>
          <!-- If category has no sub-categories -->
          @if (!category.subCategories || category.subCategories.length === 0) {
            <a>{{ category.name }}</a>
          }

          <!-- If category has sub-categories, create a dropdown -->
          @if (category.subCategories && category.subCategories.length > 0) {
            <details>
              <summary><a>{{ category.name }}</a></summary>
              <ul>
                @for (subCategory of category.subCategories; track subCategory.id) {
                  <li><a>{{ subCategory.name }}</a></li>
                }
              </ul>
            </details>
          }
        </li>
      }
    </ul>
  </div>
</div>
