<!-- sidebar -->
<div class="drawer z-51">
    <input id="public-sidebar" type="checkbox" class="drawer-toggle" />
    <div class="drawer-side">
        <label for="public-sidebar" aria-label="close sidebar" class="drawer-overlay"></label>
        <ul class="menu bg-base-200 text-base-content min-h-80 min-w-85 sm:w-150 p-4 space-y-3">
            <li><a>کتاب های برگزیده</a></li>
            <li>
                <details>
                    <summary><a>انواع داستان</a></summary>
                    <ul>
                        <li><a>داستان عاشفانه</a></li>
                        <li><a>داستان فلسفی</a></li>
                        <li>
                            <a>داستان کوتاه</a>
                        </li>
                    </ul>
                </details>
            </li>
            <li><a>جوایز ادبی</a></li>
        </ul>
    </div>
</div>