<!-- This is your main layout wrapper -->
<div class="app-layout">

  <!-- The header can stay as is if it's fixed -->
  <app-user-header></app-user-header>

  <!-- The <main> tag is now the element that will grow -->
  <main class="py-8 px-4 md:px-8">
      <div class="flex md:gap-4">
          <app-sidebar-user></app-sidebar-user>
          <section class="flex-1">
              <router-outlet></router-outlet>
          </section>
      </div>
  </main>

  <!-- The footer is the last item in the flex container -->
  <app-user-footer class="bg-base-200 text-base-content"></app-user-footer>

</div>