<button class="btn w-full sm:w-65  btn-lg btn-primary mb-5" (click)="create()">
    <i-lucide name="plus"></i-lucide>
    افزودن کتاب جدید
</button>

<div class="flex space-x-4  mb-5">
    <input type="text" class="input input-lg flex-8 pr-5" placeholder="جستجو در کتاب ها ..." />
    <button class="btn btn-lg btn-accent flex-1">جستجو</button>
</div>

<div class="divider"></div>

<div class="overflow-x-auto">
    <table class="table table-pin-cols">
        <!-- head -->
        <thead>
            <tr>
                <th>شناسه</th>
                <td>تصویر</td>
                <td>نام</td>
                <td>نام انگلیسی</td>
                <td>توضیحات</td>
                <td>قیمت</td>
                <td>سری چاپ</td>
                <td>شابک</td>
                <td>نوع جلد</td>
                <td>قطع</td>
                <td>تعداد صفحات</td>
                <td>تاریخ انتشار</td>
                <td>انتشارات</td>
                <td>نویسنده</td>
                <td>دسته بندی ها</td>
                <td>مترجمان</td>
                <td>تاریخ ایجاد</td>
                <td>تاریخ به روز رسانی</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @for (book of this.books; track book.id) {
            <!-- row  -->
            <tr>
                <th class="font-bold text-lg">
                    {{book.id}}
                </th>
                @for (image of book.images; track image.id) {
                @if (image.isPrimary) {
                <td class="text-lg"><img [src]="imageService.getUrl(image.relativePath, image.storedFileName)"
                        width="100" height="150" alt="Book Image" class="rounded-xl" /></td>
                }
                }

                <td class="text-lg">
                    {{book.name}}
                </td>
                <td class="text-lg">
                    {{book.englishName}}
                </td>
                <td class="text-lg">
                    {{book.description}}
                </td>
                <td class="text-lg">{{book.price}}</td>
                <td class="text-lg">{{book.printSeries}}</td>
                <td class="text-lg">
                    <div class="badge badge-accent">{{book.isbn}}</div>
                </td>
                <td class="text-lg">{{book.coverType}}</td>
                <td class="text-lg">{{book.format}}</td>
                <td class="text-lg">{{book.pages}}</td>
                <td class="text-lg">{{book.publishYear}}</td>
                <td class="text-lg">{{book.publisher}}</td>
                <td class="text-lg"><a [routerLink]="['/admin/author']" class="link">{{book.author?.id}} -
                        {{book.author?.name}}</a>
                </td>
                <td class="text-lg">
                    <button class="btn w-40 gap-3" (click)="showCategories(book.id)">
                        <i-lucide name="grid-2x2" size="18"></i-lucide> دسته بندی ها
                    </button>
                </td>
                <td class="text-lg">
                    @if (book.translators) {
                    <button class="btn w-40 gap-3" (click)="showTranslators(book.id)">
                        <i-lucide name="book-type" size="18"></i-lucide> مترجمان
                    </button>
                } @else {
                    <span class="text-gray-500">بدون مترجم</span>
                }
                </td>
                <td class="text-lg">
                    {{book.createdAt! | jalaliDate:true}}
                </td>
                <td class="text-lg">
                    {{book.updatedAt! | jalaliDate:true}}
                </td>
                <td class="flex gap-2">
                    <button class="btn h-10 btn-primary btn-xs" (click)="update(book.id)">
                        <i-lucide name="pencil"></i-lucide>
                    </button>
                    <button class="btn h-10 btn-error btn-xs" (click)="delete(book.id)">
                        <i-lucide name="trash"></i-lucide>
                    </button>
                </td>
            </tr>
            }
        </tbody>
        <!-- foot -->
        <tfoot>
            <tr>
                <th>شناسه</th>
                <td>تصویر</td>
                <td>نام</td>
                <td>نام انگلیسی</td>
                <td>توضیحات</td>
                <td>قیمت</td>
                <td>سری چاپ</td>
                <td>شابک</td>
                <td>نوع جلد</td>
                <td>قطع</td>
                <td>تعداد صفحات</td>
                <td>تاریخ انتشار</td>
                <td>انتشارات</td>
                <td>نویسنده</td>
                <td>دسته بندی ها</td>
                <td>مترجمان</td>
                <td>تاریخ ایجاد</td>
                <td>تاریخ به روز رسانی</td>
                <td></td>
            </tr>
        </tfoot>

    </table>

</div>

<div class="flex flex-wrap justify-center my-5" *ngIf="pagination.totalPages > 1">
    <button class="btn btn-md sm:btn-lg" [disabled]="pagination.pageNumber === 1"
        (click)="changePage(pagination.pageNumber - 1)">
        قبلی
    </button>

    <ng-container *ngFor="let page of getPageArray()">
        <button class="btn btn-md sm:btn-lg" [ngClass]="{
    'btn-disabled': page === -1,
    'btn-primary' : page === pagination.pageNumber,
  }" (click)="changePage(page)">
            @if (page === -1) {
            ...
            } @else {
            {{ page }}
            }
        </button>
    </ng-container>

    <button class="btn btn-md sm:btn-lg" [disabled]="pagination.pageNumber === pagination.totalPages"
        (click)="changePage(pagination.pageNumber + 1)">
        بعدی
    </button>
</div>

<app-modal #bookCategories id="bookCategories">
    <app-book-category></app-book-category>
</app-modal>

<app-modal #bookTranslators id="bookTranslators">
    <app-book-translator></app-book-translator>
</app-modal>

<app-modal #createBook id="createBook">
    <app-create-book (created)="closeDialog('createBookModal')"></app-create-book>
</app-modal>

<app-modal #updateBook id="updateBook">
    <app-update-book (updated)="closeDialog('updateBookModal')"></app-update-book>
</app-modal>

<app-modal #deleteBook id="deleteBook">
    <h3 class="text-lg font-bold mb-5">آیا از حذف کتاب اطمینان دارید؟</h3>
    <div class="flex gap-5">
        <form method="dialog" class="flex-1">
            <button class="btn btn-error btn-lg w-full">خیر</button>
        </form>
        <div class="flex-1">
            <button class="btn btn-primary btn-lg w-full" (click)="deleteConfirmed()">بله</button>
        </div>
    </div>
</app-modal>