<div data-section-panel="wishlist" class="section-panel">
  <div class="flex items-center justify-between mb-4">
    <h2 class="text-2xl font-bold">علاقه‌مندی‌ها</h2>
    <div class="text-sm text-gray-500">کتاب‌های ذخیره شده توسط شما</div>
  </div>

  <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-4">

    @for (book of wishlist; track book.id) {
      <div (click)="goToBookDetails(book.id)" class="card bg-base-200 w-46 h-90 shadow-sm cursor-pointer hover:shadow-primary hover:shadow-md transition">

        <figure>
          <img
            class="h-50 object-cover"
            [src]="getImage(book)"
            alt="{{ book.name }}"
          />
        </figure>

        <div class="card-body py-0">
          <h2 class="card-title truncate mt-2">{{ book.name }}</h2>
          <p class="truncate text-gray-500">{{ book.author?.name }}</p>

          <div class="flex mb-5">
            <div class="flex flex-col text-right flex-1">
              <span class="text-lg font-bold">{{ book.price }} تومان</span>
            </div>
          </div>
        </div>

      </div>
    }

  </div>
</div>
