<!-- Sidebar -->
<aside id="sidebar" class="w-72 hidden md:block">
    <div class="card bg-base-200 shadow-sm p-4 sticky top-6">
        <div class="flex items-center gap-3 mb-4">
            <img src="https://placehold.co/64x64" alt="avatar" class="rounded-full w-16 h-16 object-cover" />
            <div class="text-right">
                <h3 class="font-bold truncate max-w-45">{{ user.name ? user.name : 'نام کاربری وجود ندارد' }} {{ user.lastName ? user.lastName : '' }}</h3>
                <p class="text-sm text-gray-500">مشتری از {{ user.createdAt! | jalaliDate }}</p>
            </div>
        </div>

        <nav class="flex flex-col gap-2">
            <button [routerLink]="['/user']" data-section="profile"
                class="sidebar-btn btn btn-ghost justify-between w-full text-right">پروفایل
                <span class="badge">1</span>
            </button>
            <button [routerLink]="['/user/orders']" data-section="orders"
                class="sidebar-btn btn btn-ghost justify-between w-full text-right">سفارش‌ها
                <span class="text-sm text-gray-500">۳</span>
            </button>
            <button [routerLink]="['/user/wishlist']" data-section="wishlist"
                class="sidebar-btn btn btn-ghost justify-between w-full text-right">لیست
                علاقه‌مندی‌ها
                <span class="text-sm text-gray-500">۵</span>
            </button>
            <button [routerLink]="['/user/addresses']" data-section="addresses"
                class="sidebar-btn btn btn-ghost justify-between w-full text-right">آدرس‌ها</button>
            <button [routerLink]="['/user/settings']" data-section="settings"
                class="sidebar-btn btn btn-ghost justify-between w-full text-right">تنظیمات
                حساب</button>
        </nav>

        <div class="divider my-3"></div>

        <div class="text-sm text-gray-500">
            اعتبار کیف پول:
            <div class="text-lg font-bold mt-1">۲۰۰,۰۰۰ تومان</div>
        </div>
    </div>
</aside>

<!-- sidebar -->
<div class="drawer z-51">
    <input id="user-sidebar" type="checkbox" class="drawer-toggle" />
    <div class="drawer-side">
        <label for="user-sidebar" aria-label="close sidebar" class="drawer-overlay"></label>
        <ul class="menu bg-base-200 text-base-content min-h-80 min-w-85 sm:w-150 p-4 space-y-3">
            <li><a>پروفایل</a></li>
            <li><a>سفارشات</a></li>
            <li><a>لیست علاقه‌مندی‌ها</a></li>
            <li><a>آدرس ها</a></li>
            <li><a>تنظیمات حساب</a></li>
            
        </ul>
    </div>
</div>