<!-- Banners -->
<app-public-banners></app-public-banners>

<!-- New Books -->
<!-- Books -->
<div>
    <div class="flex mx-2 md:mx-20 justify-between items-center">
        <h2 class=" text-2xl font-bold">جدید ترین کتاب ها</h2>
        <div [routerLink]="['/books']" class="flex items-center" style="cursor: pointer;">
            <h1 class="mb-1">مشاهده همه </h1>
            <i-lucide name="chevron-left" size="26" strokeWidth="3"></i-lucide>
        </div>
    </div>
    <div appHorizontalScroll class="mb-10 mt-5 mx-2 md:mx-20 overflow-x-auto scroll-x-scroll">
        <div class="flex space-x-4 w-max my-1 mx-1">

            <!-- Dynamic book cards -->
            @for (book of newBooks; track book.id) {
            <div class="card bg-base-200 w-46 h-80 shadow-sm flex-shrink-0 cursor-pointer hover:shadow-primary hover:shadow-md transition"
                (click)="goToBookDetails(book.id)">

                <figure>
                    @if (isLoggedIn) {
                    <button class="absolute top-2 right-2 z-10 btn btn-circle btn-sm bg-base-100 border-none shadow-sm"
                        (click)="toggleWishlist(book.id, $event)">
                        <i-lucide name="heart" class="text-red-500" size="20">
                        </i-lucide>
                    </button>
                    }
                    @if (book.images && book.images.length > 0) {
                    @for (image of book.images; track image.id) {
                    @if (image.isPrimary) {
                    <img class="h-50 object-cover" [src]="imageService.getUrl(image.relativePath, image.storedFileName)"
                        alt="{{ book.name }}" />
                    }
                    }
                    } @else {
                    <img class="h-50 object-cover" src="https://placehold.co/300x400?text=No+Image"
                        alt="{{ book.name }}" />
                    }
                </figure>

                <div class="card-body py-0">
                    <h2 class="card-title truncate mt-1">{{ book.name }}</h2>
                    <p class="truncate text-gray-500">{{ book.author?.name || 'بدون نویسنده' }}</p>

                    <div class="card-actions flex mb-5">
                        <div class="flex flex-col text-right flex-1">
                            <div class="indicator">
                                <span class="text-lg font-bold">{{ book.price | number:'1.0-0' }} تومان</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>

<!-- Books -->
<div>
    <div class="flex mx-2 md:mx-20 justify-between items-center">
        <h2 class="text-2xl font-bold">پیشنهادی های کتاب کده</h2>
        <div class="flex items-center">
            <h1 class="mb-1">مشاهده همه </h1>
            <i-lucide name="chevron-left" size="26" strokeWidth="3"></i-lucide>
        </div>
    </div>
    <div appHorizontalScroll class="mb-10 mt-5 mx-2 md:mx-20 overflow-x-auto scroll-x-scroll">
        <div class="flex space-x-4 w-max my-1 mx-1">

            <!-- Dynamic book cards -->
            @for (book of recommendedBooks; track book.id) {
            <div class="card bg-base-200 w-46 h-80 shadow-sm flex-shrink-0 cursor-pointer hover:shadow-primary hover:shadow-md transition"
                (click)="goToBookDetails(book.id)">

                <figure>
                    @if (isLoggedIn) {
                    <button class="absolute top-2 right-2 z-10 btn btn-circle btn-sm bg-base-100 border-none shadow-sm"
                        (click)="toggleWishlist(book.id, $event)">
                        <i-lucide name="heart" class="text-red-500" size="20">
                        </i-lucide>
                    </button>
                    }
                    @if (book.images && book.images.length > 0) {
                    <!-- Use primary image if exists -->
                    @for (image of book.images; track image.id) {
                    @if (image.isPrimary) {
                    <img class="h-50 object-cover" [src]="imageService.getUrl(image.relativePath, image.storedFileName)"
                        alt="{{ book.name }}" />
                    }
                    }
                    } @else {
                    <!-- Default placeholder image -->
                    <img class="h-50 object-cover" src="https://placehold.co/300x400?text=No+Image"
                        alt="{{ book.name }}" />
                    }
                </figure>

                <div class="card-body py-0">
                    <h2 class="card-title truncate mt-1">{{ book.name }}</h2>
                    <p class="truncate text-gray-500">{{ book.author?.name || 'بدون نویسنده' }}</p>

                    <div class="card-actions flex mb-5">
                        <div class="flex flex-col text-right flex-1">
                            <div class="indicator">
                                <span class="text-lg font-bold">{{ book.price | number:'1.0-0' }} تومان</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>

<!-- Banner -->
<div class="mx-2 md:mx-20 my-10">
    <div class="hero rounded-3xl min-h-65"
        style="background-image: url(https://img.daisyui.com/images/stock/photo-1507358522600-9f71e620c44e.webp);">
        <div class="hero-overlay rounded-3xl"></div>
        <div class="hero-content text-neutral-content text-center ">
            <div class="max-w-lg">
                <h1 class="mb-5 text-3xl md:text-5xl font-bold">رویای خود را پیدا کنید</h1>
                <p class="mb-5">
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                    و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه
                    روزنامه و مجله در ستون و سطرآنچنان که لازم است
                </p>
                <!-- Button -->
                <button class="btn btn-primary join-item text-primary-content">مشاهده</button>
            </div>
        </div>
    </div>
</div>