<button class="btn w-full sm:w-65  btn-lg btn-primary mb-5" (click)="create()">
    <i-lucide name="plus"></i-lucide>
    افزودن کاربر جدید
</button>

<div class="flex space-x-4 mb-5">
  <input type="text" [(ngModel)]="searchText" class="input input-lg flex-8 pr-5" placeholder="جستجو در کاربران ..." />
  <button class="btn btn-lg btn-accent flex-1" (click)="onSearch()">جستجو</button>
</div>

<div class="divider"></div>

<div class="overflow-x-auto">
  <table class="table table-pin-cols">
    <thead>
      <tr>
        <th>شناسه</th>
        <td>نام</td>
        <td>نام خانوادگی</td>
        <td>موبایل</td>
        <td>نقش کاربر</td>
        <td>عملیات</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <th class="font-bold text-lg">{{ user.id }}</th>
        <td class="text-lg">{{ user.name }}</td>
        <td class="text-lg">{{ user.lastName }}</td>
        <td class="text-lg">{{ user.mobile }}</td>
        <td class="text-lg">{{ user.role | userRole }}</td>
        <td class="flex gap-2">
          <button class="btn h-10 btn-primary btn-xs" (click)="update(user.id)">
            <i-lucide name="pencil"></i-lucide>
          </button>
          <button class="btn h-10 btn-error btn-xs"  (click)="delete(user.id)">
            <i-lucide name="trash"></i-lucide>
          </button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th>شناسه</th>
        <td>نام</td>
        <td>نام خانوادگی</td>
        <td>موبایل</td>
        <td>نقش کاربر</td>
        <td>عملیات</td>
      </tr>
    </tfoot>
  </table>
</div>

<div class="flex flex-wrap justify-center my-5" *ngIf="pagination.totalPages > 1">
  <button class="btn btn-md sm:btn-lg" [disabled]="pagination.pageNumber === 1" (click)="changePage(pagination.pageNumber - 1)">
    قبلی
  </button>
  <ng-container *ngFor="let page of getPageArray()">
    <button class="btn btn-md sm:btn-lg" [ngClass]="{
      'btn-disabled': page === -1,
      'btn-primary' : page === pagination.pageNumber,
    }" (click)="changePage(page)">
      <ng-container *ngIf="page === -1; else pageNumber">
        ...
      </ng-container>
      <ng-template #pageNumber>
        {{ page }}
      </ng-template>
    </button>
  </ng-container>
  <button class="btn btn-md sm:btn-lg" [disabled]="pagination.pageNumber === pagination.totalPages" (click)="changePage(pagination.pageNumber + 1)">
    بعدی
  </button>
</div>

<app-modal #createUser id="createUser">
    <app-create-user (created)="closeDialog('createUserModal')"></app-create-user>
</app-modal>

<app-modal #updateUser id="updateUser">
    <app-update-user (updated)="closeDialog('updateUserModal')"></app-update-user>
</app-modal>

<app-modal #deleteUser id="deleteUser">
  <h3 class="text-lg font-bold mb-5">آیا از حذف کاربر اطمینان دارید؟</h3>
  <div class="flex gap-5">
    <form method="dialog" class="flex-1">
      <button class="btn btn-error btn-lg w-full">خیر</button>
    </form>
    <div class="flex-1">
      <button class="btn btn-primary btn-lg w-full" (click)="deleteConfirmed()">بله</button>
    </div>
  </div>
</app-modal>